@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Bienvenidos a "LA PIRAÑA"</h1>
    <p>Somos la Empresa "LA PIRAÑA", nos dedicamos al rubro de suministros para fiestas infantiles</p>
</div>
