@{
    ViewData["Title"] = "PRODUCTOS DESTACADOS";
}

<div class="text-center">
    <h1 class="display-4">Productos destacados</h1>
    <h1>vasos</h1>
    <img src="img/vasos.jpg">
    <h2>Decoraciones</h2>
    <img src="img/Decoraciones.jpg">
    <h3>Globos</h3>
    <img src="img/globos.jpg">
    <h4>Ambientación</h4>
    <img src="imag/ambientacion.jpg">
    <h5>Decoraciones Modelados</h5>
    <img src="img/decoracionessss.jpg">
    <h6 class="display-4">Catalogo</h6>
    <img src="img/decoracionessss.jpg">
    <img src="img/decoracionessss.jpg">
    <img src="img/decoracionessss.jpg">
    <img src="img/decoracionessss.jpg">
    <img src="img/decoracionessss.jpg">
    <img src="img/decoracionessss.jpg">
    <img src="img/decoracionessss.jpg">
    <img src="img/decoracionessss.jpg">
    <img src="img/decoracionessss.jpg">
    <img src="img/decoracionessss.jpg">
    <img src="img/decoracionessss.jpg">
    <img src="img/decoracionessss.jpg">
    <img src="img/decoracionessss.jpg">
    <img src="img/decoracionessss.jpg">
    <img src="img/decoracionessss.jpg">
    <img src="img/decoracionessss.jpg">
    <img src="img/decoracionessss.jpg">

</div>