@{
    ViewData["Title"] = "Servicios y productos";
}

<div class="text-center">
    <h1 class="display-4">Servicios y Productos</h1>
    <p>Ofrecemos servicios como:</p>
    <h1>vasos</h1>
    <img src="img/vasos.jpg">
    <h2>Decoraciones</h2>
    <img src="img/Decoraciones.jpg">
    <h3>Globos</h3>
    <img src="img/globos.jpg">
    <h4>Ambientación</h4>
    <img src="imag/ambientacion.jpg">
</div>